.pvdm-page-header {
  position: relative;
  display: block;
  background-color: #e7e7e7;
  border-bottom: 1px solid #C8C8C8;
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 69px;
  margin: 0 -10px 20px -10px;
  @media screen and (min-width: (480px - 1) ) {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: -30px!important;
    margin-right: -30px!important;
    }
  }

.pvdm-page-sub-header {
  display: block;
  margin-bottom: 0;
  margin-top: 13.5px;
  margin-left: 70px;
  float: left;
  color: #5a5a5a;
  font-size: 1.45em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  }