.page-header {
  background-color: #e7e7e7;
  border-bottom: 1px solid #C8C8C8;
  min-height: 70px;
  margin: 0 -10px 20px -10px;
  /*-----not sure if i need this, commenting out but leaving just in case-----*/
  /*@media screen and (min-width: (480px - 1) ) {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: -30px!important;
    margin-right: -30px!important;
    }*/
  }
.form-control {
  display: table-cell;
  margin-top: 4.2px;
  border-right: none !important;
  height: 41px;
  border: 1px solid #06a2a2;
  border-radius: 0px;
}

.d-inline-block {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

.d-inline-block-2 {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}

.btn {
  background-color:#06a2a2;
  float: right;
  border-radius: 0px;
  cursor: pointer;
}

.btn-outline-primary {
  border: 1px solid #06a2a2;
  margin-bottom: 4px;
  margin-top: 4px;
  color: white;
  font-size: 1.2em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 200;
}

.dropdown-menu {
  font-size: 14px;  
}