<div class="row page-header">
  <div class="col">  
    <div class="d-inline-block-2">
      <input required
        type="text" 
        class="form-control pull-right"
        value="1111111111"
        [(ngModel)]="filename">
      <button
        class="btn btn-outline-primary"
        (click)="download()">Export CSV
      </button>
    </div>
    <pre>filename:{{filename|json}}</pre>
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Select Assessment Type</button>
      <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
        <button class="dropdown-item">Admission Assessment</button>
        <button class="dropdown-item">Discharge Assessment</button>
        <button class="dropdown-item">Change in Status Assessment</button>
      </div>
    </div>
  </div>