.pvdm-site-header {
  .site-header-left {
    float:left;
    height: 50px;
    }
  .site-header-right {
    float: right;
    height: 50px;
    }
  }
.navbar-inverse {
    background-color: rgb(37%, 0.3%, 0.3%)
}