<div class="tabs">
  <ngb-tabset class="nav_tabs">

    <ngb-tab class="tab_title" title="Single-Page Assessment">
      <ng-template ngbTabContent class="tab-content">
        <a [routerLink]="['single_assessment']"></a>
      </ng-template>
    </ngb-tab>

    <ngb-tab class="tab" title="Batch Assessments">
      <ng-template ngbTabContent class="tab-content">
      </ng-template>
    </ngb-tab>

    <ngb-tab class="tab" title="Records">
      <ng-template ngbTabContent class="tab-content">
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>