/* -----  ASSESSMENT HEADER STYLING  ----- */
.assessment-head {
  margin: 25px 0 15px 70px;
}
.assessment-title {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 25px;
  display: inline-block;
}
.add-record-btn {
  float: right;
  margin-right: 70px;
  cursor: pointer;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  height: 34px;
  width: 127px;
  font-size: 14px;
  border-radius: 4px;
}

/* -----  FORM STYLING  ----- */
.form-group {
  margin-bottom: 20px;
  margin-left: 70px;
}
.control-label {
  font-family: "Arial";
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 0px;
  color: #282710;
}
.control-label-b {
  color: #9c9999;
  font-family: "Arial";
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
}
.form-field,
.form-control {
    width: 70%;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 13px;
    color: #464a4c;
}
.form-field-b {
  width: 70%;
  height: 25px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 13px;
  color: #9c9999;
}
.form-control {
    height: 25px !important;
    border-radius: 4px !important
}
input.form-field,
input.form-field-b {
  padding: 5px
}