.form-group {
  margin-left: 70px;
  margin-bottom: 20px;
}
.control-label {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0px;
  
}
.form-field,
.form-control {
    width: 50%;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 12px;
    color: #464a4c;
}
.form-control {
    height: 25px !important;
    border-radius: 4px !important
}

.text {
    margin-left: 10px;
}