<form [formGroup]="mdsAssessment" novalidate>
 
  <!-- (master_no) Master No. from CCIM -->
  <div class="form-group">
    <label 
      class="control-label">
        (master_no) Master No. from CCIM 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="master_no">
  </div>
 
  <!-- (resident_identifier) 10-digit Resident Identifier -->   
  <div class="form-group">
    <label
      class="control-label">
        (resident_identifier) 10-digit Resident Identifier 
    </label>
    <br>
    <input 
      type="text" 
      class="form-field"
      formControlName="resident_identifier">
  </div>

  <!-- (A3) Assessment Reference Date -->
  <div class="form-group">
    <label 
      class="control-label">
        (A3) Assessment Reference Date
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="a3">
  </div>

  <!-- (AA7) Admission Type -->
  <div class="form-group">
    <label
      class="control-label">
      (AA7) Admission Type
    </label>
    <select class="form-control" formControlName="aa7">
      <option *ngFor="let type of admissionType" 
        [value]="type.key">{{type.label}}
      </option>
    </select>
  </div>

  <!-- (AA8) Reason for Assessment -->
    <div class="form-group">
    <label
      class="control-label">
      (AA8) Reason for Assessment
    </label>
    <select class="form-control" formControlName="aa8">
      <option *ngFor="let reason of assessmentReason" 
        [value]="reason.key">{{reason.label}}
      </option>
    </select>
  </div>

  <!-- (AA9) Discharge Type -->
    <div class="form-group">
    <label
      class="control-label">
      (AA9) Discharge Type
    </label>
    <select class="form-control" formControlName="aa9">
      <option *ngFor="let type of dischargeType" 
        [value]="type.key">{{type.label}}
      </option>
    </select>
  </div>

  
  <!-- (AB1) Admission/Re-Entry Date -->
  <div class="form-group">
    <label 
      class="control-label">
        (AB1) Admission/Re-Entry Date
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ab1">
  </div>

  <!-- (AB10a) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AB10a) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ab10a">
  </div>

  <!-- (AB10b) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AB10b) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ab10b">
  </div>

  <!-- (AB10c) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AB10c) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ab10c">
  </div>

  <!-- (AB10d) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AB10d) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ab10d">
  </div>

  <!-- (AB10e) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AB10e) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ab10e">
  </div>

  <!-- (AB10f) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AB10f) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ab10f">
  </div>

  <!-- (AB2a) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AB2a) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ab2a">
  </div>

  <!-- (AB2b) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AB2b) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ab2b">
  </div>

  <!-- (AB3) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AB3) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ab3">
  </div>

  <!-- (AB5a) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AB5a) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ab5a">
  </div>

  <!-- (AB5b) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AB5b) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ab5b">
  </div>

  <!-- (AB5c) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AB5c) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ab5c">
  </div>

  <!-- (AB5d) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AB5d) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ab5d">
  </div>

  <!-- (AB5e) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AB5e) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ab5e">
  </div>

  <!-- (AB7) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AB7) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ab7">
  </div>

  <!-- (AB8) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AB8) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ab8">
  </div>

  <!-- (AB9) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AB9) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ab9">
  </div>

  <!-- (AC1a) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AC1a) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ac1a">
  </div>

  <!-- (AC1b) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AC1b) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ac1b">
  </div>

  <!-- (AC1c) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AC1c) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ac1c">
  </div>

  <!-- (AC1d) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AC1d) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ac1d">
  </div>

  <!-- (AC1e) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AC1e) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ac1e">
  </div>

  <!-- (AC1f) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AC1f) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ac1f">
  </div>

  <!-- (AC1g) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AC1g) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ac1g">
  </div>

  <!-- (AC1i) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AC1i) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ac1i">
  </div>

  <!-- (AC1j) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AC1j) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ac1j">
  </div>

  <!-- (AC1k) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AC1k) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ac1k">
  </div>

  <!-- (AC1m) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AC1m) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ac1m">
  </div>

  <!-- (AC1n) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AC1n) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ac1n">
  </div>

  <!-- (AC1o) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AC1o) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ac1o">
  </div>

  <!-- (AC1p) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AC1p) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ac1p">
  </div>

  <!-- (AC1q) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AC1q) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ac1q">
  </div>

  <!-- (AC1s) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AC1s) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ac1s">
  </div>

  <!-- (AC1t) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AC1t) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ac1t">
  </div>

  <!-- (AC1u) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AC1u) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ac1u">
  </div>

  <!-- (AC1v) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AC1v) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ac1v">
  </div>

  <!-- (AC1w) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AC1w) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ac1w">
  </div>

  <!-- (AD1) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AD1) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ad1">
  </div>

  <!-- (AD2) -->
  <div class="form-group">
    <label 
      class="control-label">
        (AD2) 
    </label>
    <br>
    <input 
      type="text"
      class="form-field"  
      formControlName="ad2">
  </div>


  <!-- (B1) Comatose -->
  <div class="form-group">
    <label
      class="control-label">
      (B1) Comatose
    </label>
    <select class="form-control" formControlName="b1">
      <option *ngFor="let state of comatoseState" 
        [value]="state.key">{{state.label}}
      </option>
    </select>
  </div>

    <!-- (B2a) Short-Term Memory-->
    <div class="form-group">
    <label
      class="control-label">
      (B2a) Short-Term Memory
    </label>
    <select class="form-control" formControlName="b2a">
      <option *ngFor="let state of memoryState" 
        [value]="state.key">{{state.label}}
      </option>
    </select>
  </div>

    <!-- (B4) Cognitive Skills for Daily Decision Making -->
    <div class="form-group">
    <label
      class="control-label">
      (B4) Cognitive Skills for Daily Decision Making
    </label>
    <select class="form-control" formControlName="b4">
      <option *ngFor="let state of independenceState" 
        [value]="state.key">{{state.label}}
      </option>
    </select>
  </div>

    <!-- (C1) Hearing -->
    <div class="form-group">
    <label
      class="control-label">
      (C1) Hearing
    </label>
    <select class="form-control" formControlName="c1">
      <option *ngFor="let ability of hearingAbility" 
        [value]="ability.key">{{ability.label}}
      </option>
    </select>
  </div>

    <!-- (C3b) Writing Messages to Express Needs -->
    <div class="form-group">
    <label
      class="control-label">
      (C3b) Writing Messages to Express Needs
    </label>
    <select class="form-control" formControlName="c3b">
      <option *ngFor="let answer of yesnoAnswer" 
        [value]="answer.key">{{answer.label}}
      </option>
    </select>
  </div>

    <!-- (C3c) American Sign Language or Braille -->
    <div class="form-group">
    <label
      class="control-label">
      (C3c) American Sign Language or Braille
    </label>
    <select class="form-control" formControlName="c3c">
      <option *ngFor="let answer of yesnoAnswer" 
        [value]="answer.key">{{answer.label}}
      </option>
    </select>
  </div>

    <!-- (C3d) Signs or Gestures or Sounds -->
    <div class="form-group">
    <label
      class="control-label">
      (C3d) Signs or Gestures or Sounds
    </label>
    <select class="form-control" formControlName="c3d">
      <option *ngFor="let answer of yesnoAnswer" 
        [value]="answer.key">{{answer.label}}
      </option>
    </select>
  </div>

    <!-- (C3e) Communication Board -->
    <div class="form-group">
    <label
      class="control-label">
      (C3e) Communication Board
    </label>
    <select class="form-control" formControlName="c3e">
      <option *ngFor="let answer of yesnoAnswer" 
        [value]="answer.key">{{answer.label}}
      </option>
    </select>
  </div>

    <!-- (C3f) Other Mode of Expression -->
    <div class="form-group">
    <label
      class="control-label">
      (C3f) Other Mode of Expression
    </label>
    <select class="form-control" formControlName="c3f">
      <option *ngFor="let answer of yesnoAnswer" 
        [value]="answer.key">{{answer.label}}
      </option>
    </select>
  </div>

    <!-- (C4) Making Self Understood -->
    <div class="form-group">
    <label
      class="control-label">
      (C4) Making Self Understood
    </label>
    <select class="form-control" formControlName="c4">
      <option *ngFor="let ability of understoodAbility" 
        [value]="ability.key">{{ability.label}}
      </option>
    </select>
  </div>

    <!-- (C5) Speech Clarity -->
    <div class="form-group">
    <label
      class="control-label">
      (C5) Speech Clarity
    </label>
    <select class="form-control" formControlName="c5">
      <option *ngFor="let clarity of speechClarity" 
        [value]="clarity.key">{{clarity.label}}
      </option>
    </select>
  </div>

    <!-- (C6) Ability to Understand Others -->
    <div class="form-group">
    <label
      class="control-label">
      (C6) Ability to Understand Others
    </label>
    <select class="form-control" formControlName="c6">
      <option *ngFor="let ability of understandingAbility" 
        [value]="ability.key">{{ability.label}}
      </option>
    </select>
  </div>


</form>

<br><br><br><br>
<p>Form value: {{ mdsAssessment.value | json }}</p>
<p>Form status: {{ mdsAssessment.status | json }}</p>