<nav
  class="navbar">
    <div class="navbar-brand">
      <logo></logo>
    </div>
</nav>
<page-header></page-header>
<div class="nav-tabs-div">
  <ul class="nav nav-tabs">
    <li routerLinkActive="active">
      <a routerLink="single_assessment">Single Assessment</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/batch">Batch Assessment</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="records">Records</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
